<div class="wrapper">
	
	<!-- 右边栏 start -->
	<div class="side-bar">
		<div class="top-bar">
			阿拉丁商品后台管理
		</div>
	
		<!-- menu start -->
		<div class="side-nav">
			<ul class="list-group">
				<li class="sub-item">
					<a class="mn" href="javascript:void(0)">
						<i class="ico icon-account"></i>
						<span class="menu-title">商品管理</span>
					</a>
				</li>
				<li class="sub-item">
					<a class="mn" href="javascript:void(0)">
						<i class="ico icon-shop"></i>
						<span class="menu-title">订单管理</span>
					</a>
				</li>
				<li class="sub-item">
					<a class="mn" href="javascript:void(0)">
						<i class="ico icon-products"></i>
						<span class="menu-title">统计管理</span>
					</a>
				</li>
				<li class="sub-item">
					<a class="mn" href="javascript:void(0)">
						<i class="ico icon-deal"></i>
						<span class="menu-title">会员管理</span>
					</a>
				</li>
			</ul>
		</div>
		<!-- menu end -->
	
	</div>
	<!-- 右边栏 end -->

	<!-- 左边内容栏 start -->
	<div class="container">

		<div class="top-bar">
			<div class="top-cont">
				<span>欢迎您，13844441111</span>
				<a data-href="/account/signin" data-click-event="router" class="quit">退出</a>
			</div>
		</div>
	
	</div>
	<!-- 左边内容栏 end -->

</div>