<div class="top-bar">
	<span class="icon-logo"></span>
	商品后台管理
</div>

<!-- menu start -->
<div class="side-nav" id="side-nav">
	<ul class="list-group" id="side-nav-ul">
	  <li class="sub-item {{cur=='manage'?'cur':''}}" data-click-event="select">
	    <a class="mn" data-href="/product/manage" data-click-event="router">
	      <i class="ico icon-products"></i>
	      <span class="menu-title">商品管理</span>
	    </a>
	  </li>
	  <li class="sub-item" data-click-event="select">
	    <a class="mn" href="javascript:;">
	      <i class="ico icon-article"></i>
	      <span class="menu-title">文章管理</span>
	    </a>
	  </li>
	  <li class="sub-item" data-click-event="select">
	    <a class="mn" href="javascript:;">
	      <i class="ico icon-orders"></i>
	      <span class="menu-title">订单管理</span>
	    </a>
	  </li>
	  <li class="sub-item" data-click-event="select">
	    <a class="mn" href="javascript:;">
	      <i class="ico icon-classify"></i>
	      <span class="menu-title">分类管理</span>
	    </a>
	  </li>
	  <li class="sub-item" data-click-event="select">
	    <a class="mn" href="javascript:;">
	      <i class="ico icon-stat"></i>
	      <span class="menu-title">统计管理</span>
	      <i class="icon-right"></i>
	    </a>
	    <ul class="submenu">
	      <li>
	        <a href="javascript:;">商品交易统计</a>
	      </li>
	    </ul>
	  </li>
	  <li class="sub-item" data-click-event="select">
	    <a class="mn" href="javascript:;">
	      <i class="ico icon-vip"></i>
	      <span class="menu-title">会员管理</span>
	    </a>
	  </li>
	</ul>
</div>
<!-- menu end -->