<div class="login-box">
	<div class="login-cont">
		<div class="title">
			<span class="icon-logo"></span>
			webuy商品后台管理
		</div>
		<form action="">
			<!-- 登录 start -->
			<div class="inpt-account">
				<input type="text" class="ipt-box" bind-value="postedData.login" placeholder="手机号/邮箱">
				<input type="text" class="ipt-box" bind-value="postedData.userpassword" placeholder="请输入密码">
				<p>
					<input type="text" class="ipt-box" placeholder="请输入验证码">
					<span class="box-verify">
						<img bind-attr="src=src" alt="验证码">
					</span>
				</p>
				<a href="#nolink" class="btn-login">登录</a>
				<a class="forget-pswd" href="#nolink">忘记密码?</a>
			</div>
			<!-- 登录 end -->
			<!-- 重置密码 start -->
			<div class="reset-account hide">
				<div class="inpt-box">
					<input type="text" class="ipt-box" placeholder="请输入手机号">
					
				</div>
				<input type="text" class="ipt-box" placeholder="请输入验证码">
				<input type="text" class="ipt-box" placeholder="请重置密码">
				<a href="#nolink" class="btn-login">完成</a>
			</div>
			<!-- 重置密码 end -->
			
		</form>
	</div>
	<div class="login-foot">
			技术支持由webuy提供
	</div>
</div>