/* -------------- add new -------------- */

.box-infor{
	padding:10px 50px 0 50px;
}
.box-infor .row-inpt{
	margin-bottom: 14px;
	overflow: hidden;
}
.box-infor .row-inpt .input-tips{
	color:#999;
	padding-top: 10px;
}
.box-infor .row-inpt .att,
.box-infor .row-inpt .ctt{
	/*display: inline-block;*/
	margin-right: 14px;
	overflow: hidden;
}
.box-infor .row-inpt .att{
	width:130px;
	font-size: 16px;
	line-height: 34px;
	text-align: right;
	/*height:34px;*/
}
.box-infor .row-inpt .ctt{
	position: relative;
	line-height: 34px;
}
.box-infor .row-inpt .att span{
	display: block;
	text-align: right;
	color:#37C7AD;
	padding-right: 7px;
}
.box-infor .row-inpt .ctt .inp-radio{
	width: 32px;
	height:32px;
	line-height: 32px;
	border:1px solid #ccc;
}
.box-infor .row-inpt .ctt input,
.box-infor .row-inpt .ctt select{
	width:290px;
	height:32px;
	line-height: 32px;
	border:1px solid #ccc;
}
.box-infor .row-inpt .ctt select{
	height:34px;
	line-height: 34px;
}

.box-infor .row-inpt .ctt .radio-box{
	display: inline-block;
	margin-right: 15px;
}
.box-infor .row-inpt .ctt input.radio{
	width: 16px;
	height: 16px;
	margin-right: 10px;
	vertical-align: middle;
}
.box-infor .row-inpt .ctt label.radio{
	vertical-align: middle;
}

.box-infor .row-inpt .ctt input{
	padding-left: 10px;
	width:280px;
}
.box-infor .row-inpt .ctt textarea{
	width:280px;
	height: 300px;
	border:1px solid #ccc;
	padding: 6px;
}

.box-infor .row-inpt .ctt-wrap{
	margin-left: 98px;
	overflow: hidden;
}
.box-infor .row-inpt .ctt-wrap .ctt{
	margin-bottom: 6px;
}
/*.box-infor .row-inpt .ctt .sym-rmb{
	float: left;
	width:10px;
	line-height: 34px;
	margin-right:2px;
}
.sym-rmb{
	font-size: 16px;
}*/
.box-infor .row-inpt .ctt .inprice{
	width:278px;
}
/*.box-infor .row-inpt .ctt,*/
.box-infor .row-inpt .att,
.box-infor .row-inpt .left{
	float: left;
}
.box-infor .row-inpt .ctt .box-detail{
	width:310px;
	height:392px;
	border:1px solid #ccc;
	background: #fff;
	padding:5px;
}
.box-infor .row-inpt .ctt .tips{
	display: inline-block;
	/*width:200px;*/
	line-height: 22px;
	margin-left: 5px;
	color:#fa5106;
}
.box-infor .row-inpt .ctt .show-window{
	padding:8px 0 0;
	overflow: hidden;
}
.box-infor .row-inpt .ctt .show-window .thumb-banner{
	width:640px;
	height:220px;
	margin-right: 15px;
	background: #ccc;
	border-radius: 2px;
	float: left;
	position: relative;
}
.box-infor .row-inpt .ctt .show-window .thumb-pic{
	width:101px;
	height:101px;
	margin-right: 15px;
	background: #ccc;
	border-radius: 2px;
	float: left;
	position: relative;
}
	.thumb-banner .close,.thumb-pic .close{
		width:20px;
		height: 20px;
		background: #626262;
		border-radius:50%;
		position: absolute;
		top:4px;
		right:4px;
		text-align: center;
		line-height: 22px;
	}
	.close .icon-x{
		font-size: 12px;
		color:#fff;
	}
.box-infor .row-inpt .ctt .show-window .thumb-pic img,.box-infor .row-inpt .ctt .show-window .thumb-banner img{
	border-radius: 2px;
	width:100%;
	height:100%;
}
.box-infor .row-inpt .ctt .show-window .add-pic{
	width:95px;
	height:75px;
	border:3px dashed #d1d1d1;
	text-align: center;
	padding-top: 20px;
	margin:0 15px 15px 0;
	float: left;
	cursor: pointer;
	position: relative;
}
.box-infor .row-inpt .ctt .show-window .add-pic .loading{
	/*background: url() no-repeat center center;*/
	width:66px;
	height:66px;
	position: absolute;
	top:50%;
	left:50%;
	margin:-33px 0 0 -33px;
}
.box-infor .row-inpt .ctt .show-window .add-pic .icon-add{
	font-size: 50px;
	color:#d1d1d1;
}

.box-infor .row-inpt .ctt input.delivery{
	display: inline-block;
	width: 16px;
	float: left;
}
.box-infor .row-inpt .ctt label.delivery-label{
	display: inline-block;
	margin-right:20px;
	float: left;
}