body{background: #eee;}

.side-nav .list-group li > a:hover,
.side-nav li.cur,
.side-nav li.open > a > .icon-right,
.deal-list .icon-right{
	-webkit-transition:all .5s ease;
	-moz-transition:all .5s ease;
	-ms-transition:all .5s ease;
	transition:all .5s ease;
}

/*fonts icos*/
@font-face {
	font-family: 'icomoon';
           src: url('../fonts/icomoon.eot');
           src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/icomoon.woff') format('woff'),
                 url('../fonts/icomoon.ttf') format('truetype'),
                 url('../fonts/icomoon.svg#iconfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-logo:before{
	content:"\e600";
}
.icon-account:before{
	content:"\e607";
}
.icon-right:after{
	content:"\e620";
}
.icon-products:before{
	content:"\e61a";
}
.icon-article:before{
	content:"\e615";
}
.icon-orders:before{
	content:"\e60c";
}
.icon-classify:before{
	content:"\e61d";
}
.icon-stat:before{
	content:"\e60b";
}
.icon-vip:before{
	content:"\e61c";
}
.icon-add:before{
	content: "\e60d";
}
.icon-heart:before{
	content: "\e613";
}

/* ---- button style ---- */
[class^="btn-"],[class*=" btn-"]{
	background:#26B595;
	display: inline-block;
	text-align: center;
	color:#fff;
	font-size: 14px;
	height:34px;
	line-height: 34px;
}
.btn-confirm:hover, .btn-save:hover, .btn-deliver:hover, .btn-func:hover{
	background: #149686;
}
.btn-disable, .btn-confirm, .btn-save{
	border-radius: 2px;
	padding:0 40px;
	margin-right:4px;
}
.btn-verify, .wait-verify{
	position: absolute;
	top:0;
	left:198px;
	height:34px;
	line-height: 34px;
	width:94px;
}

.btn-disable{
	background: #ccc;
	cursor:default;
}
.btn-disable:hover{
	background: #ccc;
}

/* structure CSS */
.wrapper-all{
	height: 100%;
	overflow: auto;
}
.wrapper{
	position: relative;
	overflow:hidden;
	height:auto;
	min-width: 1200px;
	min-height: 100vh;
}
.side-bar{
	width: 200px;
	position: absolute;
	left:0;
	bottom:0;
	height:100%;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
	background: #2b303b;
}

.container{
	padding-bottom: 50px;
	padding-bottom: 1000px;
	margin-bottom: -1000px;
	background: #eee;
	padding-left:200px;

}
.footer{
	height:50px;
	text-align: center;
	color:#c6c6c6;
	line-height: 50px;
	position: absolute;
	width:100%;
	bottom:0;
	left:0;
}


/* common style */
.side-bar .top-bar, 
.container .top-bar{
	height:50px;
}

.side-bar .top-bar{
	padding-left:14px;
}
.side-bar .top-bar .icon-logo{
	font-size: 22px;
	float: left;
	height:50px;
	line-height: 50px;
	margin-right:6px;
}
.layout-cont{
	padding-bottom: 100px;
}

/*side bar*/
.side-bar .top-bar{
	background: #21252d;        
	color:#f2f2f2;
	line-height: 50px;
	font-size: 12px;
}
.side-trader-logo{
	padding:20px 0;
	text-align: center;
}

	.side-trader-logo .img-logo img{
		width:50px;
		height:50px;
		border-radius: 4px;
		display: block;
		margin:0 auto 15px;
	}
	.side-trader-logo .text{
		font-size: 14px;
		color: #fff;
		line-height: 22px;
		padding:0 28px;
	}

/* =============== navigation =============== */
.side-nav ul > li{
	position: relative;
	overflow: hidden;
}
.side-nav ul > li > a{
	line-height: 44px;
	padding:0 14px 0 20px;
	color:#788195;
	display: block;
}
	.side-nav .list-group > li > a.mn{
		position: relative;
	}
	.side-nav .list-group > li .icon-right{
		position: absolute;
		top:14px;
		right:14px;
		color:#788195;
		-webkit-transform:rotate(0deg);
		-ms-transform:rotate(0deg);
		transform:rotate(0deg);
	}

	.side-nav .list-group > li > a {
		border-left: 2px solid #2B303A;
	}
	.side-nav .list-group > li > a > .ico{
		padding:0 4px 0 0;
		color:#788195;
	} 
	.side-nav .list-group > li > a:hover,
	.side-nav .list-group > li > a:hover ir{
		color: #fff;
	}

/*unfold*/
	
	.side-nav ul > li.cur{
		background: #21252d;
		border-left: 2px solid #37C7AD;
	}

	.side-nav li.cur > a, 
	.side-nav li.cur > a > .icon-right,
	.side-nav li.cur > a > .ico{
		color:#fff;
	}
	.side-nav ul > li .submenu{
		height:0;
	}
	.side-nav ul > li.open{
		background: #21252d;
	}
	.side-nav ul > li.open > a > .icon-right{
		-webkit-transform:rotate(90deg);
		-ms-transform:rotate(90deg);
		transform:rotate(90deg);
	}

	/*main container*/
.container .top-bar{
	background: #788195;
	line-height: 50px;
	padding:0 25px;
}
	.container .top-bar .top-cont,
	.rightxt{
		float: right;
	}
	.container .top-bar .top-cont a,
	.container .top-bar .top-cont span{
		color:#fff;
		padding-left:19px;
	}
	.container .top-bar .top-cont a{
		border-left: 1px solid #fff;
	}
	.container .top-bar .top-cont span{
		padding-right: 19px;
	}

.layout-title{
	height:52px;
	box-shadow: 1px 1px 2px #c5c5c5;
	background: #e6e6e6;
	padding:12px 0 12px 50px;
}
	.layout-title .crumb-nav{
		line-height: 18px;
	}
	.layout-title .crumb-nav a,
	.layout-title .crumb-nav .arrow-right{
		color:#898888;
		font-family:  Trebuchet MS, Tahoma, arial;
	}
	.layout-title .crumb-nav a:hover{
		text-decoration: underline;
	}
	.layout-title .topic{
		font-size:18px;
		color:#21252d;
		padding-top: 10px;
	}


.deal-list{
	width:100%;
}
.deal-list th{
	height:30px;
	background: #ebedf2;
}
.deal-list td{
	text-align: center;
	border-top: 1px solid #ccc;
}
.deal-list .buyer-info{
		text-align:left;
		padding:6px;
}
.deal-list td.products{
	border:0 none;
}
.deal-list td.products .product-list{
	height:auto;
	overflow: hidden;
}
.deal-list .switcher{
	float: left;
	margin-left: 10px;
	color:#37C7AD;
}
.deal-list .switcher .icon-right{
 	display: inline-block;
 }
.deal-list .unfold .icon-right{
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
}