/* ------------- login ------------- */

.login-wrapper{
	background: #2b303b;
}
.login-wrapper .login-box{
	width:300px;
	position: absolute;
	left:50%;
	top:35%;
	margin:-120px 0 0 -150px;
}
.login-wrapper .login-box .login-cont{
	background: #5E6677;
	border-radius: 4px;
}
.login-wrapper .login-box .title{
	text-align: center;
	font-size: 14px;
	color:#2b303b;
	padding: 20px 0 10px;
	border-bottom: 1px solid #2b303b;
}
.login-wrapper .login-box .title .icon-logo{
	font-size: 30px;
	display: block;
}
.login-wrapper .login-box input{
	width:100%;
	height:34px;
	line-height: 34px;
	border:0 none;
	margin-bottom:20px;
	text-indent:12px;
}
	.login-box .reset-account .inpt-box{
		position: relative;
	}
	.login-box .reset-account.inpt-box .btn-verify{
		position: absolute;
		right:0;
		top:0;
	}
.login-wrapper .login-box form{
	padding:20px;
	border-top:1px solid #757D90;
}
.login-wrapper .login-box .btn-login{
	width:100%;
}
.login-wrapper .login-box .forget-pswd{
	color:#fff;
	display: inline-block;
	margin:4px 0;
	text-decoration: underline;
}
.login-wrapper .login-box .login-foot{
	text-align: center;
	margin:10px 0 0;
}

.inpt-account p{
	position: relative;
}
.inpt-account p .box-verify{
	height:34px;
	position: absolute;
	top:0;
	right:0;
	overflow: hidden;
}





