<div class="main-cont">
	<!-- title start -->
	<div class="layout-title">
		
		<div class="crumb-nav">
			<a data-click-event="router" data-href="/">首页</a>
			<span class="arrow-right">></span>
			<span>商品管理</span>
		</div>

		<h2 class="topic">商品管理</h2>

	</div>
	<!-- title end -->

	<!-- content start -->
	<div class="layout-cont">
		<div class="layout-func">
			<a data-click-event="router" data-href="/product/add" class="btn-func">新增商品</a>
			<a href="#nolink" class="btn-func">批量上架</a>
			<a href="#nolink" class="btn-func">批量下架</a>	
			<a href="#nolink" class="btn-func">批量删除</a>					
		</div>

		<div class="tablelist-wrapper">

			<div class="tablelist-cont">

					<!-- table start -->
					<div class="table-infor">
					
					<div class="table-wrapper">
					<table class="manage-list" border="1" cellpadding="0" cellspacing="0">
						<tbody id="tbody">
							<tr>
								<th>
									<input type="checkbox">
								</th>
								<th>
									商品编号
								</th>
								<th>
									商品名称
								</th>
								<th>
									封面图
								</th>
								<th>
									商品分类
								</th>
								<th>
									商品价格
								</th>
								<th>
									总量
								</th>
								<th>
									上架时长（天）
								</th>
								
								<th>
									是/否上架
								</th>
								<th style="width:18%;">
									操作
								</th>
							</tr>
							<tr bind-repeat="gridData" style="display:none">
								<td>
									<input type="checkbox">
								</td>
								<td bind-content="$item.product_serial">
								</td>
								<td>
									<a href="#nolink" bind-content="$item.product_name">
									</a>
								</td>
								<td>
									<img bind-attr="src=cdn+{$item.product_cover},alt=$item.product_name">
								</td>
								<td>
									<a href="javascript:;" bind-content="$item.pt_name">
									</a>
								</td>
								<td bind-content="{$item.product_price}/100"></td>
								<td bind-content="$item.product_count">
								</td>
								<td bind-content="$item.product_timeleft">
								</td>
								<td>
									<div class="status">待上架</div>
									<div class="status hide">已上架</div>
									<div class="status hide">已过期</div>
								</td>
								<td>
									<div class="operate">
										<a href="javascript:;" class="btn-del">删除</a>
										<a href="javascript:;" class="btn-edit">编辑</a>
										<a href="javascript:;" class="btn-putaway">上架</a>
										<a href="javascript:;" class="btn-putaway hide">下架</a>
										<a href="javascript:;" class="btn-putaway hide">重新上架</a>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					</div>
					<!-- 分页 start -->
					<!-- <div class="box-paging clear">
						<span class="prev">上一页</span>
						<a class="prev hide" href="#nolink">上一页</a>
						<a class="cur" href="#nolink">1</a>
						<a href="#nolink">2</a>
						<a href="#nolink">3</a>
						<a href="#nolink">4</a>
						<a href="#nolink">5</a>
						<span>...</span>
						<a href="#nolink" class="next">下一页</a>
						<span>
							共100页，
							跳至
							<input class="p" type="text">
							页
						</span>
						<a class="go" href="#nolink">确定</a>
					</div> -->
					<!-- 分页 end -->
				</div>
				<!-- table end -->
			</div>

			<!-- table menu start -->
			<div class="tablelist-menu">
				<a data-click-event="offthecourt" href="javascript:;" bind-attr="class={activeTab}=='offthecourt'?'cur':''" class="">待上架</a>
				<a data-click-event="onthecourt" href="javascript:;" bind-attr="class={activeTab}=='onthecourt'?'cur':''" class="">已上架</a>
				<a data-click-event="expired" href="javascript:;" bind-attr="class={activeTab}=='expired'?'cur':''">已过期/售罄</a>
			</div>
			<!-- table menu end -->

		</div>
			
		<div class="layout-func">
				<a data-click-event="router" data-href="/product/add" class="btn-func">新增商品</a>	
				<a data-click-event="oncourt" class="btn-func">批量上架</a>
				<a data-click-event="offcourt" class="btn-func">批量下架</a>	
				<a data-click-event="delete" class="btn-func">批量删除</a>					
		</div>
	</div>
	<!-- content end -->