
{{each product as item}}
<tr>
	<td>
		<input type="checkbox">
	</td>
	<td>
		{{item.product_serial}}
	</td>
	<td>
		<a href="#nolink">
			{{item.product_name}}
		</a>
	</td>
	<td>
		<img src="{{item.product_image}}" alt="{{item.product_name}}">
	</td>
	<td>
		<a href="#nolink">
			{{item.pt_name}}
		</a>
	</td>
	<td>{{item.product_price/100}}</td>
	<td>
		{{item.product_count}}
	</td>
	<td>
		{{item.product_timeleft}}
	</td>
	<td>
		<div class="status">待上架</div>
		<div class="status hide">已上架</div>
		<div class="status hide">已过期</div>
	</td>
	<td>
		<div class="operate">
			<a href="javascript:;" class="btn-del">删除</a>
			<a href="javascript:;" class="btn-edit">编辑</a>
			<a href="javascript:;" class="btn-putaway">上架</a>
			<a href="javascript:;" class="btn-putaway hide">下架</a>
			<a href="javascript:;" class="btn-putaway hide">重新上架</a>
		</div>
	</td>
</tr>
{{/each}}